<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487707907739-084c8ksdv5gmha7m143rn01gl7r7tgum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487707907739-084c8ksdv5gmha7m143rn01gl7r7tgum</string>
	<key>API_KEY</key>
	<string>AIzaSyCdWbuQPriCqNpvt9il3Tl-0-BO8Z8g7QA</string>
	<key>GCM_SENDER_ID</key>
	<string>487707907739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>network.adventuresin.meetupChatapp</string>
	<key>PROJECT_ID</key>
	<string>adventures-in</string>
	<key>STORAGE_BUCKET</key>
	<string>adventures-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487707907739:ios:f9083d1deb8f561650d83e</string>
	<key>DATABASE_URL</key>
	<string>https://adventures-in.firebaseio.com</string>
</dict>
</plist>